body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #454545;
}

.container {
	max-width: 360px;
	min-width: 240px;
	margin: 0 auto;
	padding: 1em;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: left;
	align-items: center;
}

.text_x3 {
	font-size: 3em;
}

.text_x2 {
	font-size: 2em;
}

.error {
	color: #ed6e6e;
}

.grey {
	color: #656565;
}

input {
	height: 1.8em;
	font-size: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#search_box {
	width: 100%;
	flex-grow: 1;
	margin-right: 0.5em;
}

.mtop {
	margin-top: 1em;
}